@import 'variables';
@import 'lib/normalize';
@import 'lib/grid';

/**
 * Start writing your css here...
 */
body {
  font-family: 'Lato';
  background-color: @color-light;
}

.placeholder {
  background-color: #FFF;
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;

  h1 {
    margin: 0;
    font-weight: 400;
    color: @color-dark;
  }

  p {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    color: @color-dark;
  }
 }
